button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: #2a0307;
    box-shadow: rgb(0 0 0 / 15%) 0 0 10px;

    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   button:hover {
    letter-spacing: 1.5px;
    background-color: hsl(272, 52%, 67%);
    color: hsl(0, 88%, 3%);
    box-shadow: rgba(228, 112, 183, 0.759) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
   