.rounded {
    border-radius: 20%;
  }

.btn-rounded {
    border-radius: 50%;
  }

/*.container {
    border-radius: 10% !important;
}

.card {
    border-radius: 10% !important;
}
 */
.modal-content {
    border-radius:10% 10%  !important;
}

.navbar-brand {
    float:left !important;
}

#containGrad{
    border-radius: 68px;
background: linear-gradient(145deg, #ffffff, #e1e1e1);
box-shadow:  28px 28px 49px #aaaaaa,
             -28px -28px 49px #ffffff;
}

#containGrad2{
    border-radius: 50px;
background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
box-shadow:  25px 25px 50px #c5c5c5,
             -25px -25px 50px #ffffff;
}