<body id= "defBG">
    <div class="card text-center mb-3 border-0", style="padding-top:25px">
        <img class="card-img-top">
        <%= image_tag 'AIDA_RGB.png', class: ' d-block m-auto' , style: ' max-width: 50rem;'%>
        <div class="card-body">
            <h5 class="card-title text-center"></h5>
        </div>
        <h1 style="font-size:50px;">What is the goal of this website?</h1>
        <p style="font-size:20px;">
            The goal is to help diagnose hearing problems in children using testing.
        </p>
        <h1 style="font-size:50px;">The types of tests and what they do</h1>
        <p style="font-size:20px;">
            There are 3 types of tests: DWT, RDDT, and DNW.
        </p>
        <h1 style="font-size:50px;">DWT</h1>
        <p style="font-size:20px;">
            DWT or Dichotic Words Test is a test that uses real words in a 2 column table of buttons. Play the audio file and the words on the left and right will be played simultaneously in each of the childs ear, click the buttons based on which words the child recalls correctly. This test provides interpretation based on normative score data.
        </p>
        <h1 style="font-size:50px;">RDDT</h1>
        <p style="font-size:20px;">
            RDDT or Randomized Dichotic Digit Test is a test that uses random numbers in a 2 column table of buttons, however each row of buttons may contain 1, 2 or 3 buttons. The test functions the same however if there is more than one button in the row, those numbers will be read in rapid sequence. This test provides interpretation based on normative score data.
        </p>
        <h1 style="font-size:50px;">DNW</h1>
        <p style="font-size:20px;">
            DNW or Dichotic Nonsense Words is a test that uses nonsense or fake words in a 2 column table of buttons. This test does not provide interpretation.
        </p>
        <h1 style="font-size:50px;">How to run tests</h1>
        <p style="font-size:20px;">
            Ensure the headphones or speakers are on child so that the left words play in the childs left ear and right in right. You can start the audio to test this pefore putting them on the child. Then give a brief explanation to the child and start the test. Have the child recall what they heard and record their responses. Finally submit the test when complete.
        </p>
        <h1 style="font-size:50px;">Troubleshooting website problems</h1>
        <p style="font-size:20px;">
            The most common issue you might run into is the testing buttons not working or dropdowns for different test lists not working. This is normaly caused by using the back arrows in the browser to exit a test before it is submitted. To fix this refresh the page and try again and ensure that if you start a test it is submitted properly.
        </p>
        <p style="font-size:20px;">
            If you run into any other issues, before trying to contact an administrator, attempt to close and reopen the site and sign out and back in. If these solutions did not work contact your admistrator for assistance.
        </p>

    </div>
</body>