<div class="tabs-container">
  <div class="tab active" id="users-tab">Clients</div>
  <div class="tab" id="new-client-tab">New Client</div>
</div>

<div class="tab-content-container">
  <div class="tab-content active" id="users-content">
     <%= render 'index' %>
  </div>
  <div class="tab-content" id="new-client-content">
    <%= render 'new' %> 
  </div>
</div>
