.clipboard-container-moderator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px; /* Adjust space above the container */
}

.moderator-code-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #f9f9f9;
    width: auto;
    max-width: 70%;
}

.copy-button-moderator {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: none;
}

.copy-button-moderator:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
    box-shadow: none;
}
