<<<<<<< HEAD


=======
<span class="align-middle">
    <div class="bg-image d-flex justify-content-center align-items-center">
        <%= image_tag 'AIDA_RGB.png', class: ' d-block m-auto' , style: ' max-width: 50rem;'%>
        </div>
    </span>
>>>>>>> af3df4d29c3c76079b6f9e20dcb645438f3db836
<p>
    <% if current_user %>
    <h1 class= "display-3", style= 'padding-bottom:20px'> <strong> Hello <%= current_user.fname + " " + current_user.lname%>! </strong> </h1>
    <% else %>
    Please login as User
    <% end %>
   </p>

   
<span class="align-middle">
    <div class="bg-image d-flex justify-content-center align-items-center">
        <%= image_tag 'AIDA_RGB.png', class: ' d-block m-auto' , style: ' max-width: 50rem;'%>
        </div>
    </span>




