<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="form-group row">
        <label for="exampleLabel">Label</label>
        <input class="form-control" type="text" id="exampleLabel" placeholder="Enter Label">
      </div>
      <div class="form-group row">
        <label for="clinicianSelect">Clinician</label>
        <select class="form-control" id="clinicianSelect">
          <option>Example clinician</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="testType">Type</label>
        <input class="form-control" type="text" id="testType" placeholder="DWT" readonly>
      </div>
    </div>
    <div class="col-sm">
      <table class="table table-sm table-striped ml-4" style="max-width: 15rem;">
        <thead class="thead-dark">
          <tr>
            <th>Number</th>
            <th>Left</th>
            <th>Right</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>1</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>2</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>3</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>4</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>5</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>6</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>7</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>8</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>9</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>10</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>11</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>12</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>13</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>14</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>15</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>16</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>17</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>18</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>19</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>20</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>21</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>22</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>23</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
            <tr>
              <td>24</td>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Dog
                  </label>
                </div>
              </th>
              <th>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Cat
                  </label>
                </div>
              </th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>